.inputField {
  padding: 0 !important;
  font-size: 13px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.errorField {
  padding: 0 !important;
  font-size: 13px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid red !important;
}
